# Ignore Visual Studio temporary files, build results, and
# folders.
.vs/
*.code-workspace
*.user
*.suo
*.userosscache
*.sln.docstates
ipch/
*.opensdf
*.VC.opendb

# Ignore build results
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj

# Ignore OS files
.DS_Store
Thumbs.db
